{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vote on New Game settings{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>You can vote for more than one using ctrl or shift. Please select all
values you want to vote for, you can vote for more than one but must vote for
at least one in each group</h2>
<form method="post">
    <label for="gameid">gameid</label>
    <input name="gameid" id="gameid"  value="" required></br></br>

  {% for name, options in settings.items() %}

  <label for="{{ name }}">{{ name }}</label><br/><br/>
    {% for option in options %}
    <input type="checkbox", name="{{ name }}" value='{{ option }}'/><span>{{- option -}}</span>
    {% endfor %}
<br/><br/>
  {% endfor %}
  <input type="submit" value="Save Votes">
</form>
{% endblock %}
