{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Game{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Please select all values you want to vote for, you can vote for more than one but must vote for at least one in each group</h2>
<hr/>
<form method="post">
  {{ form.csrf_token() }}
  {{ form.gameid.label }} {{ form.gameid(size=20) }} <br/><br/><br/>
  {% for select_form in form.select_entries %}
    {{select_form.select.label}}: {{ select_form.select(size=select_form.size) }} <br/><br/><br/>
  {% endfor %}
   <input type="submit" value="Go">
</form>
<hr/>
{% endblock %}
